@import "tailwindcss";
@plugin "daisyui";

.slick-next,
.slick-prev {
  background-color: gray !important;
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  right: 0 !important;
}

.slick-prev {
  left: 0% !important;
}
