@import "tailwindcss";
@plugin "daisyui";


/* #root{
  background-color: #F3F4F6;
} */

.slick-next,
.slick-prev {
  background-color: gray !important;
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-next {
  right: 0 !important;
}

.slick-prev {
  left: 0% !important;
}

a.active hr{
  display: block;
}


